## 라이브러리 import

In [1]:
import pandas as pd
import numpy as np

## 데이터 불러오기

In [2]:
df=pd.read_csv("data.csv")
df

,이름,소속팀,성별,조모임 가능 요일,기획 역량 점수,개발 역량 점수,개발 분야,디자인 역량 점수
0,Mng1,기획,여,화요일/목요일/일요일저녁,1,2,웹프론트,3
1,Mng2,기획,여,월요일/수요일/목요일/금요일/일요일오전,3,2,앱백엔드,3
2,Mng3,기획,여,월요일/목요일,5,3,앱프론트,1
3,Mng4,기획,여,월요일/목요일/일요일오후/일요일저녁,1,3,웹프론트/웹백엔드/인공지능,5
4,Mng5,기획,여,화요일/수요일/목요일/일요일오전/일요일저녁,5,4,앱프론트/데이터/인공지능,4
...,...,...,...,...,...,...,...,...
67,Dsn5,디자인,남,월요일/화요일/수요일/일요일오전,2,1,없음,5
68,Dsn6,디자인,여,월요일/화요일/목요일/금요일/일요일오후/일요일저녁,3,2,앱프론트/웹프론트,4
69,Dsn7,디자인,여,수요일/목요일/일요일저녁,2,2,앱프론트/데이터,4
70,Dsn8,디자인,여,수요일/일요일저녁,1,3,앱백엔드,5
71,Dsn9,디자인,여,금요일/일요일오전/일요일저녁,1,4,웹백엔드/데이터/인공지능,3

### 팀별 데이터 프레임 생성

In [3]:
기획=df[df['소속팀']=="기획"]
개발=df[df['소속팀']=="개발"]
디자인=df[df['소속팀']=="디자인"]
기획.reset_index(inplace=True)
기획.drop(['index'], inplace=True, axis=1)
개발.reset_index(inplace=True)
개발.drop(['index'], inplace=True, axis=1)
디자인.reset_index(inplace=True)
디자인.drop(['index'], inplace=True, axis=1)

C:\Users\user\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [4]:
디자인

,이름,소속팀,성별,조모임 가능 요일,기획 역량 점수,개발 역량 점수,개발 분야,디자인 역량 점수
0,Dsn1,디자인,남,수요일/목요일/금요일/일요일오후/일요일저녁,4,1,없음,3
1,Dsn2,디자인,여,화요일/수요일/목요일/일요일오전/일요일오후/일요일저녁,1,1,없음,4
2,Dsn3,디자인,남,화요일/목요일,3,1,없음,4
3,Dsn4,디자인,여,화요일,1,5,앱프론트/앱백엔드/웹프론트/웹백엔드/데이터,5
4,Dsn5,디자인,남,월요일/화요일/수요일/일요일오전,2,1,없음,5
5,Dsn6,디자인,여,월요일/화요일/목요일/금요일/일요일오후/일요일저녁,3,2,앱프론트/웹프론트,4
6,Dsn7,디자인,여,수요일/목요일/일요일저녁,2,2,앱프론트/데이터,4
7,Dsn8,디자인,여,수요일/일요일저녁,1,3,앱백엔드,5
8,Dsn9,디자인,여,금요일/일요일오전/일요일저녁,1,4,웹백엔드/데이터/인공지능,3

In [5]:
요일df_디자인=디자인['조모임 가능 요일'].str.split('/').tolist()
요일df_디자인

[['수요일', '목요일', '금요일', '일요일오후', '일요일저녁'],
 ['화요일', '수요일', '목요일', '일요일오전', '일요일오후', '일요일저녁'],
 ['화요일', '목요일'],
 ['화요일'],
 ['월요일', '화요일', '수요일', '일요일오전'],
 ['월요일', '화요일', '목요일', '금요일', '일요일오후', '일요일저녁'],
 ['수요일', '목요일', '일요일저녁'],
 ['수요일', '일요일저녁'],
 ['금요일', '일요일오전', '일요일저녁']]

### 요일별로 데이터프레임 생성

In [6]:
요일list=['월요일', '화요일', '수요일', '목요일', '금요일', '일요일오전', '일요일오후', '일요일저녁']
요일df=pd.DataFrame([[0]*len(요일list)]*len(디자인), columns=요일list)
요일df['이름']=""
요일df['디자인 역량 점수']=0
for i in range(len(요일df)):
    요일df.loc[i, '이름']=디자인.loc[i, '이름']
    요일df.loc[i, '디자인 역량 점수']=디자인.loc[i, '디자인 역량 점수']
# 요일df['이름']=디자인['이름']
# 요일df['디자인 역량 점수']=디자인['디자인 역량 점수']
요일df

   월요일  화요일  수요일  목요일  금요일  일요일오전  일요일오후  일요일저녁    이름  디자인 역량 점수
0    0    0    0    0    0      0      0      0  Dsn1          3
1    0    0    0    0    0      0      0      0  Dsn2          4
2    0    0    0    0    0      0      0      0  Dsn3          4
3    0    0    0    0    0      0      0      0  Dsn4          5
4    0    0    0    0    0      0      0      0  Dsn5          5
5    0    0    0    0    0      0      0      0  Dsn6          4
6    0    0    0    0    0      0      0      0  Dsn7          4
7    0    0    0    0    0      0      0      0  Dsn8          5
8    0    0    0    0    0      0      0      0  Dsn9          3

### 가능 요일에 1 표시

In [7]:
for i in range(len(디자인)):
    가능요일=디자인.loc[i, '조모임 가능 요일'].split('/')
    for j in range(len(요일list)):
        if 요일list[j] in 가능요일:
            요일df.loc[i, 요일list[j]]+=1
요일df

   월요일  화요일  수요일  목요일  금요일  일요일오전  일요일오후  일요일저녁    이름  디자인 역량 점수
0    0    0    1    1    1      0      1      1  Dsn1          3
1    0    1    1    1    0      1      1      1  Dsn2          4
2    0    1    0    1    0      0      0      0  Dsn3          4
3    0    1    0    0    0      0      0      0  Dsn4          5
4    1    1    1    0    0      1      0      0  Dsn5          5
5    1    1    0    1    1      0      1      1  Dsn6          4
6    0    0    1    1    0      0      0      1  Dsn7          4
7    0    0    1    0    0      0      0      1  Dsn8          5
8    0    0    0    0    1      1      0      1  Dsn9          3

### 가능한 요일 개수 count

In [8]:
요일df['요일개수']=0
for i in range(len(요일df)):
    total=0
    for j in range(0, 8):
        total+=요일df.iloc[i,j]
    요일df.loc[i,'요일개수']=total
요일df

   월요일  화요일  수요일  목요일  금요일  일요일오전  일요일오후  일요일저녁    이름  디자인 역량 점수  요일개수
0    0    0    1    1    1      0      1      1  Dsn1          3     5
1    0    1    1    1    0      1      1      1  Dsn2          4     6
2    0    1    0    1    0      0      0      0  Dsn3          4     2
3    0    1    0    0    0      0      0      0  Dsn4          5     1
4    1    1    1    0    0      1      0      0  Dsn5          5     4
5    1    1    0    1    1      0      1      1  Dsn6          4     6
6    0    0    1    1    0      0      0      1  Dsn7          4     3
7    0    0    1    0    0      0      0      1  Dsn8          5     2
8    0    0    0    0    1      1      0      1  Dsn9          3     3

### 가능한 요일 개수 적은 순, 디자인 역량점수 높은 순으로 정렬

In [9]:
요일df.sort_values(by=['요일개수', '디자인 역량 점수'], inplace=True, ascending=[True, False])
요일df.reset_index(inplace=True)
요일df.drop(['index'], inplace=True, axis=1)
요일df

   월요일  화요일  수요일  목요일  금요일  일요일오전  일요일오후  일요일저녁    이름  디자인 역량 점수  요일개수
0    0    1    0    0    0      0      0      0  Dsn4          5     1
1    0    0    1    0    0      0      0      1  Dsn8          5     2
2    0    1    0    1    0      0      0      0  Dsn3          4     2
3    0    0    1    1    0      0      0      1  Dsn7          4     3
4    0    0    0    0    1      1      0      1  Dsn9          3     3
5    1    1    1    0    0      1      0      0  Dsn5          5     4
6    0    0    1    1    1      0      1      1  Dsn1          3     5
7    0    1    1    1    0      1      1      1  Dsn2          4     6
8    1    1    0    1    1      0      1      1  Dsn6          4     6

#### (요일, 가능인원총합)으로 배열 생성

In [10]:
가능요일list=[]# 요일, 총합
for i in range(len(요일list)):
    가능요일list.append([i, sum(요일df.iloc[:, i])])
가능요일list.sort(key=lambda x:x[1])
가능요일list

[[0, 2], [4, 3], [5, 3], [6, 3], [1, 5], [2, 5], [3, 5], [7, 6]]

### 가능인원이 적은 요일 순서대로 정렬

In [11]:
디자인_팀= [[], [],[], [], [], [],[], [], []]
디자인팀원=list(디자인['이름'])
for i in range(len(가능요일list)):
    did=0
    for j in range(len(요일df)):  
        if did==0 and 요일df.iloc[j, 가능요일list[i][0]]==1 and 요일df.loc[j, '이름'] in 디자인팀원:
            did=1
            디자인_팀[가능요일list[i][0]].append(요일df.loc[j, '이름'])
            디자인팀원.remove(요일df.loc[j, '이름'])
            print(디자인_팀)
디자인_팀[len(가능요일list)]=[디자인팀원[0]]

[['Dsn5'], [], [], [], [], [], [], [], []]
[['Dsn5'], [], [], [], ['Dsn9'], [], [], [], []]
[['Dsn5'], [], [], [], ['Dsn9'], ['Dsn2'], [], [], []]
[['Dsn5'], [], [], [], ['Dsn9'], ['Dsn2'], ['Dsn1'], [], []]
[['Dsn5'], ['Dsn4'], [], [], ['Dsn9'], ['Dsn2'], ['Dsn1'], [], []]
[['Dsn5'], ['Dsn4'], ['Dsn8'], [], ['Dsn9'], ['Dsn2'], ['Dsn1'], [], []]
[['Dsn5'], ['Dsn4'], ['Dsn8'], ['Dsn3'], ['Dsn9'], ['Dsn2'], ['Dsn1'], [], []]
[['Dsn5'], ['Dsn4'], ['Dsn8'], ['Dsn3'], ['Dsn9'], ['Dsn2'], ['Dsn1'], ['Dsn7'], []]

### 요일별 팀원

In [12]:
디자인_팀

[['Dsn5'],
 ['Dsn4'],
 ['Dsn8'],
 ['Dsn3'],
 ['Dsn9'],
 ['Dsn2'],
 ['Dsn1'],
 ['Dsn7'],
 ['Dsn6']]